/OpenCV_Test-One/target/
/OpenCV_Test-Two/nbproject/private/
/OpenCV_Test-Three/target/
/OpenCV_Test-Four/target/
/OpenCV_Test-Four_Old/target/
/OpenCV_Test-Four/nbproject/private/
/OpenCV_Test-Four/build/
/OpenCV_Cuda_Test/build/
/OpenCV_Cuda_Test/dist/